%p#notice= notice
= link_to 'Edit', edit_cello_path(@cello)
\|
= link_to 'Back', cellos_path
%div.row
  %div.col-lg-4
    %p
      %b Name:
      = @cello.name
    %p
      %b Phone:
      = @cello.phone

  %div.col-lg-4
    %b Rentals 
    %table.table.table-striped
      %thead
        %tr
          %th Bike
          %th Start
          %th Return

      %tbody
        - @cello.rentals.each do |rental|
          %tr
            %td= rental.bike.biketype
            %td= rental.starttime.strftime(" %I:%M %p : %a, %b %e")
            %td= rental.returntime.strftime("%I:%M %p : %a, %b %e") 
            - rental.payments.each do |payment|
              %td
                %tr
                  %td Payment
                  %td= payment.amount
                  %td= payment.created_at.strftime("%a, %b %e")
                  %td Change Column
  
  %div.col-lg-4
      


