= form_for @rental do |f|
  - if @rental.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rental.errors.count, "error")} prohibited this rental from being saved:"
      %ul
        - @rental.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :return
    = f.datetime_select :return
  .field
    = f.label :cello
    = f.text_field :cello
  .field
    = f.label :bike
    = f.text_field :bike
  .actions
    = f.submit 'Save'
