%h1 Listing rentals

%table
  %thead
    %tr
      %th Start
      %th Return
      %th Cello
      %th Bike
      %th
      %th
      %th

  %tbody
    - @rentals.each do |rental|
      %tr
        %td= rental.start
        %td= rental.return
        %td= rental.cello
        %td= rental.bike
        %td= link_to 'Show', rental
        %td= link_to 'Edit', edit_rental_path(rental)
        %td= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Rental', new_rental_path
