%h1 Listing rentals
= link_to 'New Rental', new_rental_path

%table.table.table-striped
  %thead
    %tr
      %th Cello
      %th Bike
      %th Started
      %th Returned
      %th Time Spent

  %tbody
    - @rentals.each do |rental|
      %tr
        %td= link_to rental.cello.name, rental, class: "text-capitalize"
        %td= rental.bike.biketype
        %td= rental.starttime.strftime('%I:%M %p, %b %d')
        %td= rental.returntime.strftime('%I:%M %p, %b %d')
        %td= rental.time_diff
        -# %td= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' }

%br

