%p#notice= notice

%p
  %b Start:
  = @rental.start
%p
  %b Return:
  = @rental.return
%p
  %b Cello:
  = @rental.cello
%p
  %b Bike:
  = @rental.bike

= link_to 'Edit', edit_rental_path(@rental)
\|
= link_to 'Back', rentals_path
