%p#notice= notice
%p
  %b Cello:
  = @rental.cello.name
%p
  %b Bike:
  = @rental.bike.biketype

%p
  %b Starttime:
  = @rental.starttime.strftime('%I:%M %p, %b %d')
%p
  %b Returntime:
  = @rental.returntime.strftime('%I:%M %p, %b %d')
%p
  %b Time Diff
  = TimeDifference.between(@rental.returntime, @rental.starttime).humanize

= link_to 'Edit', edit_rental_path(@rental)
\|
= link_to 'Back', rentals_path
