%h1 Listing bikes

%table
  %thead
    %tr
      %th Biketype
      %th Description
      %th
      %th
      %th

  %tbody
    - @bikes.each do |bike|
      %tr
        %td= bike.biketype
        %td= bike.description
        %td= link_to 'Show', bike
        %td= link_to 'Edit', edit_bike_path(bike)
        %td= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bike', new_bike_path
