= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :cello
    = f.collection_select :cello_id, Cello.order(:name), :id, :name, include_blank: true 
    -# = f.text_field :cello
  .field
    = f.label :rental
    = f.grouped_collection_select :rental_id, Cello.order(:name), :rentals, :name, :id, :time_gap, include_blank: true
    -# = f.text_field :rental
  .field
    = f.label :hourly_rate
    = f.text_field :rate
  .field
    = f.label :amount_paid
    = f.text_field :amount
  .actions
    = f.submit 'Save'
