= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :cello
    = f.collection_select :cello_id, Cello.all, :id, :name, include_blank: true
  .field
    = f.label :rental
    = f.grouped_collection_select :rental_id, Cello.order(:name), :rentals, :name, :id, :start, include_blank: true
    -# = f.collection_select :rental_id, Rental.all, :id, :id, include_blank: true
  .field
    = f.label :amount
    = f.text_field :amount
  .actions
    = f.submit 'Save'
