%h1 Listing payments
= link_to 'New Payment', new_payment_path, class: "primary-btn small"

%table.table.table-striped
  %thead
    %tr
      %th Cello Name
      %th Phone 
      %th Bike
      %th Rented Time
      %th Total Time
      %th Hourly Rate
      %th Amount Owed
      %th Amount Paid
      %th Balance
      

  %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to payment.cello.name, payment
        %td= payment.cello.phone
        %td= payment.rental.bike.biketype
        %td= payment.rental.time_gap
        %td= payment.rental.time_diff
        %td= payment.rate
        %td= payment.amount_owed
        %td= payment.amount
        %td= payment.balance
        -# %td= link_to 'Show', payment
        -# %td= link_to 'Edit', edit_payment_path(payment)
        -# %td= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' }

%br

