%p#notice= notice

%p
  %b Amount:
  = @payment.amount
%p
  %b Cello:
  = @payment.cello
%p
  %b Rental:
  = @payment.rental

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
