<!DOCTYPE html>
<html>
  <head>
    <title>Cellocycling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav>
      <%= link_to "Cellos", cellos_path %>
      <%= link_to "Bikes", bikes_path %>
      <%= link_to "Payments", payments_path %>
    </nav>
    <%= yield %>
  </body>
</html>
