<!DOCTYPE html>
<html>
  <head>
    <title>Cellocycling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <%= render 'layouts/header' %>
    <div class="d-flex align-items-stretch">
      <%= render 'layouts/navbar' %>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
